@font-face {
    font-family: 'Larken';
    src: url('path-to-your-larken-font.woff2') format('woff2');
}

.navbar {
  font-family: 'Larken', sans-serif;
  padding: 10px 0;
}

.logo img{
  width: 70px;
}